.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    /* background-image: linear-gradient(#c04848, #480048); */
      background-color: #e1cee1;
    color: white;
    padding: 20px;
    height: 70vh;
  }
  .left:hover{
        /* background-image: linear-gradient(to right,#000428, #004e92);
         */
         background-color: #c04848;
  
  }
  
  
  
  
  
  
  .right {
    display: flex;
    width: 50vw;
    /* background-image: linear-gradient(#4b6cb7, #182848); */
    background-color: #19e0f2;
    height: 70vh;
  
    justify-content: center;
    align-items: center;
  }
  
  
  @media screen and (max-width: 992px) {
    .right {
      width: 100vw;
    }
    .left {
      width: 100vw;
    }
    .main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
  