.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
    background-color: #75242B;
  color: white;
  padding: 20px;
  height: 70vh;
}
.lefteffect{
    display: none;
}

.right:hover{
   background-color: #14162B;

}
.left:hover + .right {
  background-color: #14162B;
}



.rightHover{
  display: flex;
  width: 50vw;
  background-color: #14162B;
  height: 70vh;

  justify-content: center;
  align-items: center;
}



.right {
  display: flex;
  width: 50vw;
  background-color: #ED4A3B;
  height: 70vh;

  justify-content: center;
  align-items: center;
}
.main .left h1 {
  font-size: 7rem;
  color: white;
}
.main .left .lefteffect h1{
  font-size: 7rem;
  color: white;
}
.main .right h1{
  font-size: 7rem;
  color: white;
}
img {
  width: 4vw;
}

@media screen and (max-width: 992px) {
  .right {
    display: none;
    width: 0;
  }
  .left {
    width: 100vw;
  }
  .lefteffect{
    display:block;
}
.main .left h1 {
  font-size: 4rem;
}
.main .left .lefteffect h1{
  font-size: 4rem;
}
.main .right h1{
  font-size: 4rem;
}
  
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
